<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<th:block th:fragment="css">

	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}" />

	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/tether/1.4.0/css/tether.min.css}" />

	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/cimernik.css}" />
</th:block>
</head>
<body>

	<th:block th:fragment="header">
		<nav
			class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" th:href="@{/}">Cimernik</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">


				<form class="form-inline my-2 my-lg-0" id="groupSearch"
					th:action="@{/group/search}" method="post"
					th:object="${roomateGroup}">
					<div th:class="form-group">
						<input class="form-control form-control-danger mr-sm-2"
							oninvalid="this.setCustomValidity('Upiši ime grupe!')"
							oninput="setCustomValidity('')" type="text"
							placeholder="Pronađi grupu cimera "
							style="font-family: Arial, FontAwesome;" th:required="required"
							name="name" id="name" />
						<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>

					</div>
				</form>

				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item">
						<form th:action="@{/logout}" id="logout_form" method="post"
							style="display: none;"></form> <a class="nav-link"
						href="javascript:{}"
						onclick="document.getElementById('logout_form').submit(); return false;">
							Odjava (<th:block th:text="${#authentication.name}"></th:block>)
					</a>
					</li>
				</ul>

			</div>
		</nav>

	</th:block>


	<th:block th:fragment="alertModal">
		<div class="modal fade" id="myModal" role="dialog"
			style="margin-top: 10vh">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:text="${header}"></h5>
					</div>
					<div class="modal-body">
						<p th:text="${message}"></p>
					</div>
					<div class="modal-footer">
						<input type="submit" style="cursor: pointer"
							class="btn btn-outline-primary" th:value="${confirmLabel}" /> <a
							href="#" class="btn btn-outline-warning" data-dismiss="modal"
							th:text="${cancelLabel}"></a>
					</div>
				</div>
			</div>
		</div>

	</th:block>

	<th:block th:fragment="payoffModal">
		<form id="payoffForm" th:if="${groupExists}" method="POST"
			th:action="@{/group/payoff}">

			<a class="btn btn-outline-warning" href="#" data-toggle="modal"
				data-target="#payoffModal"> <i class="fa fa-money"
				aria-hidden="true"></i> Isplati dugove
			</a>
			<div class="modal fade" id="payoffModal" role="dialog"
				style="margin-top: 10vh">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" th:text="'Isplata dugova'"></h5>
						</div>
						<div class="modal-body" th:each="e : ${creditorDebts}">
							<p th:if="!${e.key==user}">
								Plaćaš cimeru <b th:text="${e.key.getCredentials()}"></b> <small
									th:text="${#numbers.formatDecimal(e.value.negate(), 1, 'COMMA', 2, 'POINT')} + ' kn'"></small>

							</p>

						</div>
						<div class="modal-footer">
							<input type="submit" style="cursor: pointer"
								class="btn btn-outline-primary" th:value="'Isplati dugove'" />
							<a href="#" class="btn btn-outline-warning" data-dismiss="modal"
								th:text="'Odustani'"></a>
						</div>
					</div>
				</div>
			</div>

		</form>

	</th:block>
	<th:block th:fragment="editBillModal">

		<div class="modal fade" th:id="editBillModal+${bill.id}" role="dialog"
			style="margin-top: 10vh">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:text="'Uređivanje računa'"></h5>
					</div>
					<div class="modal-body">
						<div class="panel panel-default">
							
							<br></br>

							<div class="panel-body">

								<div class="col-xs-12 col-sm-7 col-md-7">
									<div th:class="form-group"
										th:classappend="${#fields.hasErrors('category')} ? has-danger : ''">
										<label for="category">Kategorija: </label> <select
											id="category" name="category"
											class="form-control form-control-danger"
											th:required="required" th:autofocus="autofocus">
											<option th:each="c : ${categories}" th:value="${c.id}"
												th:text="${c.description}" th:selected="${c.description==bill.category.description}"></option>
										</select>
										<div class="form-control-feedback"
											th:if="${#fields.hasErrors('category')}"
											th:errors="*{category}"></div>
									</div>
								</div>


								<div class="col-xs-12 col-sm-7 col-md-7">
									<div th:class="form-group"
										th:classappend="${#fields.hasErrors('title')} ? has-danger : ''">
										<label for="title">Naslov:</label> <input type="text"
											class="form-control form-control-danger" th:required="required"
											id="title" name="title" th:placeholder="'Naslov računa'" th:value="${bill.title}" />
										<div class="form-control-feedback"
											th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-7 col-md-7">
									<div th:class="form-group"
										th:classappend="${#fields.hasErrors('price')} ? has-danger : ''">
										<label for="price">Cijena(kn):</label> <input type="number"
											class="form-control form-control-danger" min="0" step="any"
											th:value="${bill.price}" id="price" name="price" th:required="required" 
											th:placeholder="'Trošak računa'"/>
										<div class="form-control-feedback"
											th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-7 col-md-7">
									<div th:class="form-group"
										th:classappend="${#fields.hasErrors('description')} ? has-danger : ''">
										<label for="description">Opis obaveze/troška:</label> <input
											type="text" class="form-control form-control-danger"
											th:value="${bill.description}" id="description" name="description"
											th:placeholder="'Opis računa'" />
										<div class="form-control-feedback"
											th:if="${#fields.hasErrors('description')}"
											th:errors="*{description}"></div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<input type="submit" style="cursor: pointer"
							class="btn btn-outline-primary" th:value="'Spremi'" /> <a
							href="#" class="btn btn-outline-warning" data-dismiss="modal"
							th:text="'Odustani'"></a>
					</div>
				</div>
			</div>
		</div>



	</th:block>
	<th:block th:fragment="deleteBillModal">

		<div class="modal fade" id="deleteBillModal" role="dialog"
			style="margin-top: 10vh">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:text="'Brisanje računa'"></h5>
					</div>
					<div class="modal-body">
						<p th:text="'Jeste li sigurni da želite obrisati račun?'"></p>
					</div>
					<div class="modal-footer">
						<input type="submit" style="cursor: pointer"
							class="btn btn-outline-primary" th:value="'Obriši'" /> <a
							href="#" class="btn btn-outline-warning" data-dismiss="modal"
							th:text="'Odustani'"></a>
					</div>
				</div>
			</div>
		</div>
	</th:block>


	<th:block th:fragment="footer">
		<footer class="footer">
			<div class="container-fluid">
				<p class="text-center" style="margin-top: 50vh;">
					<th:block th:text="Cimernik"></th:block>
					&copy;
					<th:block th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></th:block>
				</p>
			</div>
		</footer>
	</th:block>

	<th:block th:fragment="scripts">
		<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/tether/1.4.0/js/tether.min.js}"></script>
		<script
			th:src="@{/webjars/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js}"></script>

		<script th:src="@{/webjars/spin-js/2.1.0/spin.js}"></script>
		<script th:src="@{/js/cimernik.js}"></script>
	</th:block>
</body>
</html>