<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>Cimernik - moji računi</title>

<th:block th:replace="fragments :: css"></th:block>

</head>
<body>
	<div layout:fragment="content">
		<div th:if="${deleteSuccess}">
			<div class="alert alert-success alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
				Uspješno obrisan račun.
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					<a th:href="@{/group/dashboard}"
						class="list-group-item list-group-item-action"> Troškovi grupe</a>
					<a th:href="@{/group/bills/{id}(id=${rUser.id})}"
						class="list-group-item list-group-item-action active"> <span
						th:if="!${isRoomate}">Moji troškovi</span> <span
						th:if="${isRoomate}">Cimerovi troškovi</span></a>
				</div>
				<br></br>

				<div th:if="${creditorDebts} == null">
					<p th:if="${isRoomate}">
						<span th:text="${rUser.getCredentials()}"> </span> nema dugova
						prema grupi.
					</p>

					<p th:if="!${isRoomate}">Nemaš dugova prema grupi.</p>
				</div>
				<div th:if="${hasDebt}">
					<h3 th:if="${isRoomate}">Dužan je:</h3>
					<h3 th:if="!${isRoomate}">Dužan si:</h3>
					<p th:text="'Grupi: ' + ${debt.abs()} + ' kn'"></p>
					<div th:each="e : ${creditorDebts}">
						<p
							th:text="'Cimeru ' + ${e.key.getCredentials()} +': ' + ${#numbers.formatDecimal(e.value.abs(), 1, 'COMMA', 2, 'POINT')}+ ' kn'"></p>
					</div>
				</div>
				<div th:if="!${hasDebt}">
					<p th:if="!${isRoomate}"
						th:text="'Grupa ti duguje: ' + ${debt.abs()} + ' kn'"></p>

					<p th:if="${isRoomate}"
						th:text="'Grupa mu duguje: ' + ${debt.abs()} + ' kn'"></p>
				</div>
			</div>

			<div id="accordion" role="tablist" aria-multiselectable="false"
				class="col-md-8">
				<div class="row">
					<h1 class="h2 col-md-9">
						<a th:href="@{/user/details/{id}(id=${rUser.id})}"><small th:text="${rUser.getCredentials()}"> </small></a>
					</h1>
					<div th:if="!${isRoomate}">
						<a th:href="@{/bill/new}" class="btn btn-outline-success">
							Dodaj novi račun </a>
					</div>

				</div>

				<br></br>
				<div th:if="${!billsExists}">
					<div class="alert alert-warning alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
						Nema nijednog računa.
					</div>
				</div>

				<div class="card" th:each="e : ${userBillsMap}">

					<div class="badge badge-default"
						th:text="${e.key} + ' ' + ${#dates.year(#dates.createNow())}"></div>

					<div th:each="bill : ${e.value}">
						<div class="card-header" role="tab" th:attr="id=${bill.title}">
							<div class="row media">
								<div class="col-md-3 media-left">
									<span class="badge badge-default media-object"
										th:text="${#dates.format(bill.dateCreated, 'dd.MM.YYYY.')}"></span>

								</div>
								<div class="media-body row">
									<div class="col-md-10">
										<h4 class="mb-0">
											<a class="hidden-xs" data-toggle="collapse"
												data-parent="#accordion" aria-expanded="true"
												th:attr="aria-controls='collapse'+ ${bill.id}, href='#'+'collapse' +
											${bill.id}"
												th:text="${bill.title}"></a>
										</h4>
										<p>
											By <b th:text="${bill.user.username}"></b>
										</p>
									</div>
									<div class="row" th:if="!${isRoomate}">
										<div class="col-md-5" style="margin-top: 17px">

											<form id="editBillForm" method="POST"
												th:action="@{/group/editBill/{id}(id=${bill.id})}"
												th:object="${bill}">
												<a href="#" data-toggle="modal"
													th:attr="data-target='#editBillModal'+${bill.id}"><i
													class="fa fa-pencil-square-o" aria-hidden="true"
													style="font-size: 2em;"></i> </a>


												<div th:replace="fragments :: editBillModal"></div>
											</form>
										</div>
										<div class="col-md-5" style="margin-top: 15px">
											<form id="deleteBillForm" method="GET"
												th:action="@{/group/deleteBill/{id}(id=${bill.id})}">

												<a href="#" data-toggle="modal"
													th:attr="data-target='#deleteBillModal'+${bill.id}"> <i class="fa fa-trash"
													aria-hidden="true" style="font-size: 2em;"></i>
												</a>

												<div th:replace="fragments :: deleteBillModal"></div>

											</form>
										</div>

									</div>

								</div>
							</div>

						</div>

						<div
							th:attr="id='collapse'+ ${bill.id},aria-labeledby=${bill.title}"
							class="collapse" role="tabpanel">
							<div class="card-block">
								<h4 th:text="${bill.title}"></h4>
								<small
									th:text="${#dates.format(bill.dateCreated, 'dd.MM.YYYY.')}"></small>
								<span class="badge badge-info media-object"
									th:text="${bill.category.getDescription()}"></span>
								<p class="hidden-xs" th:text="${bill.price}+ ' kn'"></p>
								<p class="hidden-xs" th:text="${bill.description}"></p>
								<p>
									Račun napravio: <b th:text="${bill.user.username}"></b>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="additionalScripts">


	</th:block>


</body>
</html>